.header{
    height:60px;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    opacity: 60%;
    position: fixed;
    z-index:1000;
}
.header img{
    height:40px;
    padding-left:30px;
}
.header ul{
    display:flex;
}
.header ul>li a{
    text-decoration: none;
    color:black;
    line-height: 60px;
    text-align: center;
    padding-right: 25px;
    padding-left:25px;
    display:block;
}
.header ul>li a:hover{
    background-color: gray;
    color:white;
}
.home{
    width:1400px;
    margin: 0 auto;
    position: relative;
}
.home img{
    width:100%;
}
.home-text{
    position: absolute;
    color:white;
    top:430px;
    left:80px;
    
}
.home-text h1{
    font-size: 48px;
    padding-bottom:8px;
}
.study-main{
    width:1400px;
    height:200px;
    margin: 0 auto;
    background-image: url(../images/study-bg.jpeg);
    background-size: 1400px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}
.study-main h1{
    padding-top:20px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    margin-bottom:15px;
}
.study-main p{
    font-size: 20px;
    line-height: 2;
    text-align: center;
    margin-bottom:15px;
}
.score{
    width:1400px;
    margin: 0 auto;
    background: url(../images/pexels-photo-4207791.webp);
    padding-bottom:3px;
}
.score-content{
    padding-top:10px;
    margin-bottom:20px;
    padding-bottom:20px;
    background: rgba(255,255,255,0.45);
    
}
.score>h1{
    padding-top:20px;
    font-size: 28px;
    line-height: 2;
    font-weight: bolder;
    color:black;
    text-align: center;
    margin-bottom:15px;
}
.score h2{
    border-bottom: 1px solid gray;
    font-size:24px;
    font-weight: bold;
    margin-left:80px;
    padding-right:25px;
    line-height:1.5;
    display:inline-block;
}
.score-table1{
    height:100px;
    margin-left:80px;
    margin-top:10px;
    text-align: center;
    border:1px solid black;
}
.score-table1 th,td{
    border:0.1px solid gray;
    line-height: 50px;
    width:90px;
}

.study{
    width:1400px;
    margin: 0 auto;
    position: relative;
}
.study-more{
    position: absolute;
    font-size: 18px;
    right:80px;
    top:75px;
}
.study-more a{
    text-decoration: none;
    color:black;
}
.study-more a:hover{
    color: orange;
}
.study>h1{
    padding-top:20px;
    font-size: 28px;
    line-height: 2;
    font-weight: bolder;
    color:black;
    text-align: center;
    margin-bottom:15px;
}
.study-content{
    display: flex;
    justify-content: space-evenly;
    padding:20px;
}
.study-img{
    width:45%;
}
.study-img img{
    width:100%;
    height:350px;
}
.more-info{
    width:1400px;
    margin: 0 auto;
    background-color: rgb(100, 20, 20);
    position: relative;
}
.more .more-a {
    position: absolute;
    bottom:12px;
    right:10px;
    color: white;
    font-size: 14px;
}
.info-text{
    display:flex;
    justify-content: space-around;
}
.more-info .feedback{
    width:32%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    transition: all 0.8s;
}
.more-info h1{
    padding-top:15px;
    text-align: center;
}
.more-info a{
    color:white;
    font-size:28px;
    line-height: 2;
    text-decoration: none;
}
.feed-img{
    width:120px;
    height:120px;
    border-radius: 120px;
    margin-left:10px;
}
.feed-img img{
    width:100%;
}
.feed-text{
    text-align: justify;
    margin-left:20px;
    width:280px;
    height:230px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    line-height: 1.5;
    overflow: scroll;
}
.contact{
    width:1400px;
    margin: 0 auto;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-img{
    margin-left:40px;
}
.contact-img img{
    width:200px;
}
.contact-text{
    margin-right:40px;
    color:brown;
}
.contact-title{
    color:black;
}
.feedback:hover{
    box-shadow: 6px 8px 12px orange ;
}
.more-info a:hover{
    color:orange
}

