
.header{
    height:60px;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(240, 248, 255, 0.6);
    position: fixed;
    z-index:1000;
}
.header img{
    height:40px;
    padding-left:30px;
}
.header ul{
    display:flex;
}
.header ul>li a{
    text-decoration: none;
    color:gray;
    line-height: 60px;
    text-align: center;
    padding-right: 25px;
    padding-left:25px;
    display:block;
}
.header ul>li a:hover{
    background-color: gray;
    color:white;
}
.home{
    width:1400px;
    margin: 0 auto;
    position: relative;
}
.home img{
    width:100%;
}
.home-text{
    position: absolute;
    color:white;
    top:260px;
    left:80px;
    
}
.home-text h1{
    font-size: 48px;
    padding-bottom:8px;
}
.about{
    width:1400px;
    margin: 0 auto;
    margin-bottom:20px;
    position: relative;
}
.ocp-open,.fans-open,.ntnu-open,.edu-open{
    width:600px;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 2px;
    background:rgba(255, 255,255 ,1);
    position: absolute;
    margin-left:400px;
    margin-top:-20px;
    z-index: 1000;
    display: none;
}
.ocp-open-text-all{
    margin-left:50px;
    margin-right: 50px;
    width:500px;
    margin-bottom: 40px;
}
.ocp-open-text-all>h2,.ocp-open>h2{
    text-align: center;
    line-height: 2;
    font-size: 24px;
    border-bottom: 1px solid gray;
}
.ocp-open>h2{
    margin-left:40px;
    margin-right:40px;
    margin-bottom: 10px;
}
.ocp-open-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
    margin-top:20px;
}
.ocp-text-block{
    width:100%;
}
.ocp-text-block h2{
    font-size: 18px;
    padding-right:20px;
    border-bottom: 1px solid gray;
    display: inline;
}
.ocp-text-block h4{
    margin: 20px;
    line-height: 1.5;
    text-align: justify;
}
.ex{
    margin:20px;
    line-height: 1.5;
}
.ex a{
    padding:3px;
    text-decoration: none;
    color: gray;
}
.ex a:hover{
    color: white;
    background: #000;
}
.edu-open>h1{
    margin-left:10px;
    margin-right:10px;
    border-bottom:1px solid gray;
}
.edu-hide{
    position: absolute;
    display: flex;
    width:100%;
    height:100%;
    border-radius: 10px;
    background-image: url(../images/teach.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.edu-hide h1{
    color:white;
}
.edu-hide input{
    margin:6px;
    width:300px;
    height:30px;
}
.declare{
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left:5px;
}
.fans-open{
    margin-top:-5px;
}
.fans-hide{
    position: absolute;
    border-radius: 10px;
    width:598px;
    height:323px;
    background-image: url(../images/flower-2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fans-hide>h1{
    color:white;
    text-shadow: 2px 2px 1px pink;
}
.fans-hide2{
    display: none;
}
.fans-pw{
   width:200px;
   height:30px;
   color: pink;
   border: 1px solid pink;
}
.ocp-open img,.ntnu-open img{
    width:90%;
    margin-left:5%;
    margin-right: 5%;
}
.fans-open iframe{
    margin-left:25px;
    margin-top:20px;
}
.ocp-open-2,.fans-open-2,.ntnu-open-2,.edu-open-2{
    display: block;
}
.close-button,.close-button2,.close-button3,.close-button4{
    position: absolute;
    right:10px;
    bottom:5px;
}
.close-button2{
    background-color: transparent;
    color: pink;
    border: 1px solid pink;
}
.close-button4{
    z-index: 1000;
}
.verify-button{
    position: absolute;
    right:60px;
    bottom:5px;
    background-color: transparent;
    color: pink;
    border: 1px solid pink;
}
.verify-button2{
    position: absolute;
    right:60px;
    bottom:5px;
    z-index: 1000;
}
.username{
    position: absolute;
    top:35px;
    right:30px;
}
.forgot-btn{
    text-align: center;
    text-decoration: none;
    color:white;
    display: block;
}
.forgot-btn:hover{
    color: red;
    cursor: pointer;
}
.forgot-all{
    width:400px;
    height:300px;
    border-radius: 10px;
    position: absolute;
    background: #000;
    z-index: 1001;
    margin-left:100px;
    margin-top:70%;
    display: none;
    justify-content: center;
    align-items: center;
}
.forgot-all-2{
    display: flex;
}
.forgot h1{
    color: white;
}
.forgot input{
    width:200px;
    height:30px;
    margin-bottom: 5px;
}
.forgot-1{
    margin-top: 10px;
    width:200px;
}
.forgot-2{
    width:200px;
    position: absolute;
    bottom: 35px;
    right:100px;
}
.close-button2:hover ,.verify-button:hover{
    background: pink;
    color:white;
}
.edu-block-all{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.edu-block{
    width:30%;
    padding-left:5px;
    margin:3px;
    margin-left:13px;
}
.teach-video{
    height:300px;
}
.edu-block h2{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    font-weight: bolder;
    border-bottom: 1px dotted gray;
}
.edu-block li a{
    line-height: 1.65;
    color: black;
    text-decoration: none;
    display: block;
}
.edu-block li a:hover{
    background-color: grey;
    color: white;
}
.about h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    padding-top:24px;
    padding-bottom:10px;
}
.about p{
    text-align: center;
}
.about-block ul{
    margin-top:15px;
    display: flex;
    justify-content: center;
}
.about-block li{
    width:200px;
    height:200px;
    margin-right: 25px;
    background-color: white;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
    transition: 0.4s;
}
.about-block li:hover{
    cursor: pointer;
    box-shadow: 8px 4px 16px gray;
}
.about-block li img{
    position: absolute;
    top:10%;
    left:20%;
    width:120px;
}
.about-block li .img-text{
    text-align:center;
    color:white;
    background-color: black;
    height:30px;
    line-height: 30px;
    position: absolute;
    top:78%;
    width:100%;
}
.skills{
    margin-top:30px;
    width:1400px;
    margin: 0 auto;
    height:230px;
    background: url(../images/north-star-2869817_1280.webp);
    background-position: bottom;
    background-size: cover;
    position: relative;
}
.mark1{
    width:735px;
    border-top:2px solid red;
    position: absolute;
    bottom:23px;
    left:70px;
}
.mark2{
    width:490px;
    border-top:2px solid blue;
    position: absolute;
    bottom:23px;
    right:91px;
}

.skills h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    padding-top:30px;
}
.skills ul{
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills li{
    width:100px;
    height:100px;
    margin-right: 25px;
    background-color: white;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
}
.level,.level2{
    width:30px;
    height:20px;
    font-size:12px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top:-0.7px;
    left:-0.3px;
    border-radius: 10%;
    color: white;
    background-color: red;
    overflow: hidden;
}
.level2{
    background-color: green;
}
.skills li img{
    width:80%;
    margin-left:10px;
    margin-top:12px;
}
.skills li .vue{
    margin-top:18px;
}
.skill-text{
    width:100px;
    height:100px;
    margin-right: 25px;
    background-color: black;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
    border:1px solid red;
    color: white;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top:0;
    left:0;
    opacity: 75%;
    transition: 0.5s;
    display: none;
}
.skills li:hover .skill-text{
    cursor: pointer;
    display: block;
}
.project{
    width:1400px;
    margin: 0 auto;
}
.project h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: black;
    padding-top:24px;
    padding-bottom:10px;
}
.project p{
    text-align: center;
}
.project p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.project p a:hover{
    text-decoration: underline;
}
.content{
    width:1400px;
    margin: 0 auto;
    margin-top:35px;
    margin-bottom:30px;
    display: flex;
    justify-content:space-evenly;
    animation-duration: 2.3s;
}
.content .href{
    width:35%;
    height:370px;
    position: relative;
}
.content .href img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.content-img-text{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 80%;
    display: none;
}
.content-img-text-1{
    color:white;
    text-align: center;
    display: block;
    font-size: 38px;
    line-height: 370px;
}
.content .href:hover .content-img-text{
    display: block;
    cursor: pointer;
}
.content .introduction{
    width:45%;
}
.content .intro-text{
    margin-top:15px;
    width:100%;
}
.content .intro-text p{
    margin-top:10px;
}
.content .intro-text-2 ,.intro-text-3 ,.intro-text-4{
    color:rgb(190, 189, 189);
    line-height: 2;
    margin-top:15px;
    margin-left:20px;
}
.content .intro-text-4 a{
    text-decoration: none;
}
.content .intro-text-4 a:hover{
    text-decoration: underline;
}
.more-info{
    width:1400px;
    margin: 0 auto;
    background-color: rgb(100, 20, 20);
    position: relative;
}
.more .more-a {
    position: absolute;
    bottom:12px;
    right:10px;
    color: white;
    font-size: 14px;
}
.info-text{
    display:flex;
    justify-content: space-around;
}
.more-info .feedback{
    width:32%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    transition: all 0.8s;
}
.feedback:hover{
    box-shadow: 6px 8px 12px orange ;
}
.more-info h1{
    padding-top:15px;
    text-align: center;
}
.more-info a{
    color:white;
    font-size:28px;
    line-height: 2;
    text-decoration: none;
}
.more-info a:hover{
    color:orange
}
.feed-img{
    width:120px;
    height:120px;
    border-radius: 120px;
    margin-left:10px;
}
.feed-img img{
    width:100%;
}
.feed-text{
    text-align: justify;
    margin-left:20px;
    width:280px;
    height:230px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    line-height: 1.5;
    overflow: scroll;
}
.contact{
    width:1400px;
    margin: 0 auto;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-img{
    margin-left:40px;
}
.contact-img img{
    width:200px;
}
.contact-text{
    margin-right:40px;
    color:brown;
}
.contact-title{
    color:black;
}