.header{
    height:60px;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    opacity: 60%;
    position: fixed;
    z-index:1000;
}
.header img{
    height:40px;
    padding-left:30px;
}
.header ul{
    display:flex;
}
.header ul>li a{
    text-decoration: none;
    color:black;
    line-height: 60px;
    text-align: center;
    padding-right: 25px;
    padding-left:25px;
    display:block;
}
.header ul>li a:hover{
    background-color: gray;
    color:white;
}
.home{
    width:1400px;
    margin: 0 auto;
    position: relative;
}
.home img{
    width:100%;
}
.home-text{
    position: absolute;
    color:white;
    top:260px;
    left:80px;
    
}
.home-text h1{
    font-size: 48px;
    padding-bottom:8px;
}
.about{
    width:1400px;
    margin: 0 auto;
    margin-bottom:20px;
}
.about h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    padding-top:24px;
    padding-bottom:10px;
}
.about p{
    text-align: center;
}
.about-block ul{
    margin-top:15px;
    display: flex;
    justify-content: center;
}
.about-block li{
    width:200px;
    height:200px;
    margin-right: 25px;
    background-color: white;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
    transition: 0.4s;
}
.about-block li:hover{
    cursor: pointer;
    box-shadow: 8px 4px 16px gray;
}
.about-block li img{
    position: absolute;
    top:10%;
    left:20%;
    width:120px;
}
.about-block li .img-text{
    text-align:center;
    color:white;
    background-color: black;
    height:30px;
    line-height: 30px;
    position: absolute;
    top:78%;
    width:100%;
}
.skills{
    margin-top:30px;
    width:1400px;
    margin: 0 auto;
    height:230px;
    background-color: black;
    position: relative;
}
.mark1{
    width:735px;
    border-top:2px solid red;
    position: absolute;
    bottom:23px;
    left:70px;
}
.mark2{
    width:490px;
    border-top:2px solid blue;
    position: absolute;
    bottom:23px;
    right:91px;
}

.skills h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    padding-top:30px;
}
.skills ul{
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills li{
    width:100px;
    height:100px;
    margin-right: 25px;
    background-color: white;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
}
.level,.level2{
    width:30px;
    height:20px;
    font-size:12px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top:-0.7px;
    left:-0.3px;
    border-radius: 10%;
    color: white;
    background-color: red;
    overflow: hidden;
}
.level2{
    background-color: green;
}
.skills li img{
    width:80%;
    margin-left:10px;
    margin-top:12px;
}
.skills li .vue{
    margin-top:18px;
}
.skill-text{
    width:100px;
    height:100px;
    margin-right: 25px;
    background-color: black;
    border: 0.1px solid gray;
    box-shadow: 2px 1px 4px gray;
    border-radius: 10%;
    position: relative;
    border:1px solid red;
    color: white;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top:0;
    left:0;
    opacity: 75%;
    transition: 0.5s;
    display: none;
}
.skills li:hover .skill-text{
    cursor: pointer;
    display: block;
}
.project{
    width:1400px;
    margin: 0 auto;
}
.project h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: black;
    padding-top:24px;
    padding-bottom:10px;
}
.project p{
    text-align: center;
}
.project p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.project p a:hover{
    text-decoration: underline;
}
.content{
    width:1400px;
    margin: 0 auto;
    margin-top:35px;
    margin-bottom:30px;
    display: flex;
    justify-content:space-evenly;
    animation-duration: 2.3s;
}
.content .href{
    width:35%;
    height:370px;
    position: relative;
}
.content .href img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.content-img-text{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 80%;
    display: none;
}
.content-img-text-1{
    color:white;
    text-align: center;
    display: block;
    font-size: 38px;
    line-height: 370px;
}
.content .href:hover .content-img-text{
    display: block;
    cursor: pointer;
}
.content .introduction{
    width:45%;
}
.content .intro-text{
    margin-top:15px;
    width:100%;
}
.content .intro-text p{
    margin-top:10px;
}
.content .intro-text-2 ,.intro-text-3 ,.intro-text-4{
    color:rgb(190, 189, 189);
    line-height: 2;
    margin-top:15px;
    margin-left:20px;
}
.content .intro-text-4 a{
    text-decoration: none;
}
.content .intro-text-4 a:hover{
    text-decoration: underline;
}
.more-info{
    width:1400px;
    margin: 0 auto;
    background-color: rgb(100, 20, 20);
    position: relative;
}
.more .more-a {
    position: absolute;
    bottom:12px;
    right:10px;
    color: white;
    font-size: 14px;
}
.info-text{
    display:flex;
    justify-content: space-around;
}
.more-info .feedback{
    width:32%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    transition: all 0.8s;
}
.feedback:hover{
    box-shadow: 6px 8px 12px orange ;
}
.more-info h1{
    padding-top:15px;
    text-align: center;
}
.more-info a{
    color:white;
    font-size:28px;
    line-height: 2;
    text-decoration: none;
}
.more-info a:hover{
    color:orange
}
.feed-img{
    width:120px;
    height:120px;
    border-radius: 120px;
    margin-left:10px;
}
.feed-img img{
    width:100%;
}
.feed-text{
    text-align: justify;
    margin-left:20px;
    width:280px;
    height:230px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    line-height: 1.5;
    overflow: scroll;
}
.contact{
    width:1400px;
    margin: 0 auto;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-img{
    margin-left:40px;
}
.contact-img img{
    width:200px;
}
.contact-text{
    margin-right:40px;
    color:brown;
}
.contact-title{
    color:black;
}