.header{
    height:60px;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    opacity: 60%;
    position: fixed;
    z-index:1000;
}
.header img{
    height:40px;
    padding-left:30px;
}
.header ul{
    display:flex;
}
.header ul>li a{
    text-decoration: none;
    color:black;
    line-height: 60px;
    text-align: center;
    padding-right: 25px;
    padding-left:25px;
    display:block;
}
.header ul>li a:hover{
    background-color: gray;
    color:white;
}
.home{
    width:1400px;
    margin: 0 auto;
    position: relative;
}
.home img{
    width:100%;
}
.home-text{
    position: absolute;
    color:white;
    bottom:120px;
    left:80px;
    
}
.home-text2{
    position: absolute;
    color:white;
    bottom:120px;
    right:80px;   
}
.home-text h1,.home-text2 h1{
    font-size: 48px;
    padding-bottom:8px;
    text-align: center;
}
.ocp{
    width:1400px;
    height:720px;
    margin: 0 auto;
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/pexels-neale-lasalle-631477.jpg);
}
.ocp-list{
    background: rgba(255,255,255,0.6);
    width:560px;
    height:630px;
    box-shadow: 10px 10px 2px white;
    border-radius: 4px;
}
.ocp-list h1{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    line-height: 2;
    margin-top:8px;
    color:white;
    border-bottom: 0.4px solid white;
    margin-left:30px;
    margin-right:30px;
}
.ocp-list>ul li{
    margin-top:20px;
    margin-left:70px;
    font-size: 18px;
    color: white;
}
.check{
    color:greenyellow;
    font-size: 18px;
}
.run{
    color:brown;
    font-size: 18px;
}
.taco{
    width:1400px;
    margin: 0 auto;
}
.main{
    width:1400px;
    margin: 0 auto;
    margin-top:5px;
    position: relative;
    background: url(../images/pexels-photo-4466381.webp);
    background-size:cover;
    background-position: right;

}
.date{
    position: absolute;
    top:50px;
    right:45px;
    color: white;
}
.main>h1{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    line-height: 2;
    color: white;
}
.main-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:20px;
   
}
.main-box .ic-row{
    display: block;
    text-align: center;
    font-size: 60px;
    margin-top:15px;
    color: white;
}
.fed{
    width: 49%;
    height:800px;
}
.fed>h1{
    font-size:24px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    margin-top:7px;
    color: white;
}
.session-box{
    border:1px solid gray;
    height:100px;
    width:88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top:10px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 10px;
    background: rgba(255,255,255,0.75);
}
.session-box>h2{
    margin-top:10px;
    text-align: center;
    font-size: 23px;
    line-height: 1.8;
}
.session-box>h4{
    text-align: center;
    font-size: 19px;
    line-height: 1.8;
}
.bed{
    width: 49%;
    height:1900px;
    border-left:0.1px dashed gray;

}
.bed>h1{
    font-size:24px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    margin-top:7px;
    color: white;
}
.split{
    display: flex;
    width:100%;
}
.left,.right{
    width:50%;
}
.left>h2,.right>h2{
    font-size:22px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    color: white;
}
.fc-box{
    border:5px solid red;
}
.fc2-box{
    border:4px solid yellow;
}
.main-why{
    width:1400px;
    margin: 0 auto;
    height:410px;
    background-image: url(../images/pexels-photo-1089842拷貝.png);
    background-size:cover;
    background-position: center center;
}
.main-why>h1{
    padding-top: 60px;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    line-height: 2;
}
.main-why>p{
    width:44%;
    margin-left: 27.7%;
    margin-right: 30%;
    height:500px;
    line-height: 1.7;
    text-indent: 2em;
    letter-spacing: 1px;
}
.more-info{
    width:1400px;
    margin: 0 auto;
    background-color: rgb(100, 20, 20);
    position: relative;
}
.more .more-a {
    position: absolute;
    bottom:12px;
    right:10px;
    color: white;
    font-size: 14px;
}
.info-text{
    display:flex;
    justify-content: space-around;
}
.more-info .feedback{
    width:32%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    transition: all 0.8s;
}
.more-info h1{
    padding-top:15px;
    text-align: center;
}
.more-info a{
    color:white;
    font-size:28px;
    line-height: 2;
    text-decoration: none;
}
.feed-img{
    width:120px;
    height:120px;
    border-radius: 120px;
    margin-left:10px;
}
.feed-img img{
    width:100%;
}
.feed-text{
    text-align: justify;
    margin-left:20px;
    width:280px;
    height:230px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    line-height: 1.5;
    overflow: scroll;
}
.contact{
    width:1400px;
    margin: 0 auto;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-img{
    margin-left:40px;
}
.contact-img img{
    width:200px;
}
.contact-text{
    margin-right:40px;
    color:brown;
}
.contact-title{
    color:black;
}
.feedback:hover{
    box-shadow: 6px 8px 12px orange ;
}
.more-info a:hover{
    color:orange
}
